[Unit]
Description=jlink remote server service

[Service]
Type=simple
WorkingDirectory=/home/nhattm/Workspace/jlink_ws/JlinkRemoteServer/
ExecStart=/home/nhattm/Workspace/jlink_ws/JlinkRemoteServer/jlink_remote_server.sh
Restart=no
StandardOutput=file:/home/nhattm/Workspace/jlink_ws/JlinkRemoteServer/jlink_remote_server.log

[Install]
WantedBy=default.target
RequiredBy=network.target
