[Unit]
Description=jlink remote server service

[Service]
Type=simple
WorkingDirectory=/home/nhattm/jlink_ws
ExecStart=/home/nhattm/jlink_ws/JlinkRemoteServer/jlink_remote_server.sh
Restart=on-failure
StandardOutput=file:/home/nhattm/jlink_ws/JlinkRemoteServer/jlink_remote_server.log

[Install]
WantedBy=default.target
RequiredBy=network.target
